{{ 'section-home-split.css' | asset_url | stylesheet_tag }}

<div class="home-section-split color-{{ section.settings.color_scheme }}">
  <div class="home-section-split__image">
    {%- if section.settings.image != blank -%}
      {{ section.settings.image | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        width: section.settings.image.width,
        height: section.settings.image.height,
        class: 'home-section-split__image-tag'
      }}
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>
  <div class="home-section-split__content">
    {%- if section.settings.eyebrow_text != blank -%}
      <p class="home-section-split__eyebrow">{{ section.settings.eyebrow_text | escape }}</p>
    {%- endif -%}
    {%- if section.settings.heading != blank -%}
      <h2 class="home-section-split__heading {{ section.settings.heading_size }}">
        {{ section.settings.heading | escape }}
      </h2>
    {%- endif -%}
    {%- if section.settings.button_label != blank -%}
      <a{% if section.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %} class="button button--{{ section.settings.button_style }}">
        {{ section.settings.button_label | escape }}
      </a>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Home Split Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "eyebrow_text",
      "label": "Eyebrow text",
      "default": "EYEBROW"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Split section heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "medium",
          "label": "Medium (32px)"
        },
        {
          "value": "large",
          "label": "Large (64px)"
        }
      ],
      "default": "medium",
      "label": "Heading size"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        }
      ],
      "default": "primary",
      "label": "Button style"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "beige",
          "label": "Beige"
        }
      ],
      "default": "default",
      "label": "Color scheme"
    }
  ],
  "presets": [
    {
      "name": "Home Split Section",
      "category": "Image"
    }
  ]
}
{% endschema %}