{{ 'section-editorial-double-image.css' | asset_url | stylesheet_tag }}

<div class="section-editorial-double-image">
  <div class="section-editorial-double-image__content content-container">
    <div class="section-editorial-double-image__grid">
      <div class="section-editorial-double-image__item">
        {% if block.settings.image_1 != blank %}
          {{ block.settings.image_1 | image_url: width: 750 | image_tag:
            loading: 'lazy',
            class: "section-editorial-double-image__image",
            sizes: "(min-width: 750px) 50vw, 100vw",
            widths: '375, 550, 750, 1100, 1500',
            alt: block.settings.image_1.alt | default: block.settings.caption_1 | default: 'Editorial image 1'
          }}
        {% endif %}
        {% if block.settings.caption_1 != blank %}
          <p class="section-editorial-double-image__caption">{{ block.settings.caption_1 | upcase }}</p>
        {% endif %}
      </div>
      <div class="section-editorial-double-image__item">
        {% if block.settings.image_2 != blank %}
          {{ block.settings.image_2 | image_url: width: 750 | image_tag:
            loading: 'lazy',
            class: "section-editorial-double-image__image",
            sizes: "(min-width: 750px) 50vw, 100vw",
            widths: '375, 550, 750, 1100, 1500',
            alt: block.settings.image_2.alt | default: block.settings.caption_2 | default: 'Editorial image 2'
          }}
        {% endif %}
        {% if block.settings.caption_2 != blank %}
          <p class="section-editorial-double-image__caption">{{ block.settings.caption_2 | upcase }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Editorial Double Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "text",
      "id": "caption_1",
      "label": "Caption 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "text",
      "id": "caption_2",
      "label": "Caption 2"
    },
    {
      "type": "text",
      "id": "image_1_alt",
      "label": "Image 1 alt text (optional)"
    },
    {
      "type": "text",
      "id": "image_2_alt",
      "label": "Image 2 alt text (optional)"
    }
  ],
  "presets": [
    {
      "name": "Editorial Double Image",
      "category": "Editorial"
    }
  ]
}
{% endschema %}