{{ 'section-bespoke.css' | asset_url | stylesheet_tag }}

<div class="section-semi-bespoke-1 background-{{ section.settings.background_color }}">
  <div class="stof-container">
    <div class="stof-content">
      <div class="stof-headline custom-headline-container"> <!-- Add custom-headline-container class -->
        {%- unless section.settings.title == blank -%}
          <h2 class="title {{ section.settings.heading_size }} custom-headline">
            {{ section.settings.title | escape }}
          </h2>
        {%- endunless -%}
      </div>
      <div class="stof-item stof-item--full" {{ block.shopify_attributes }}>
        <div class="stof-card">
          {%- if section.settings.image != blank -%}
            {{ section.settings.image | image_url: width: 1420 | image_tag: loading: 'lazy', class: 'stof-card__image', alt: section.settings.image_alt | escape }}
          {%- endif -%}
          <div class="stof-card__content">
            {%- if section.settings.caption_headline != blank -%}
              <h3 class="caption-headline">{{ section.settings.caption_headline | escape }}</h3>
            {%- endif -%}
            {%- if section.settings.text != blank -%}
              <div class="rte new-caledonia">{{ section.settings.text }}</div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
    <div class="stof-arrow"></div> <!-- Ensure this is inside the container -->
  </div>
</div>

{% schema %}
{
  "name": "Semi-Bespoke",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "caption_headline",
      "label": "Caption Headline"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "background_color",
      "options": [
        {
          "value": "none",
          "label": "No background"
        },
        {
          "value": "color-1",
          "label": "Color 1"
        },
        {
          "value": "color-2",
          "label": "Color 2"
        },
        {
          "value": "color-3",
          "label": "Color 3"
        }
      ],
      "default": "none",
      "label": "Background color"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Image Alt Text"
    }
  ],
  "presets": [
    {
      "name": "Semi-Bespoke"
    }
  ]
}
{% endschema %}