{{ 'section-bespoke.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}

<div class="stof color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width section-{{ section.id }}-padding isolate">
    <div class="stof-list">
      <div class="custom-headline-container">
        {%- unless section.settings.title == blank -%}
          <h2 class="title {{ section.settings.heading_size }}">
            {{ section.settings.title | escape }}
          </h2>
        {%- endunless -%}
      </div>

      {%- for block in section.blocks -%}
        <div class="stof-list__item" {{ block.shopify_attributes }}>
          <div class="stof-card content-container">
            {%- if block.settings.image != blank -%}
              <div class="stof-card__image-wrapper">
                {{
                  block.settings.image
                  | image_url: width: 800
                  | image_tag:
                    loading: 'lazy',
                    class: 'stof-card__image',
                    widths: '400, 600, 800',
                    sizes: '(min-width: 750px) 50vw, 100vw'
                }}
              </div>
            {%- endif -%}
            <div class="stof-card__info">
              {%- if block.settings.caption_headline != blank -%}
                <h3 class="caption-headline">{{ block.settings.caption_headline | escape }}</h3>
              {%- endif -%}
              {%- if block.settings.text != blank -%}
                <div class="rte new-caledonia">{{ block.settings.text }}</div>
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Bespoke",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Bespoke",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        }
      ],
      "default": "background-1",
      "label": "Color scheme"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "caption_headline",
          "default": "Caption Headline",
          "label": "Caption Headline"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bespoke",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}