{{ 'section-bespoke.css' | asset_url | stylesheet_tag }}

<div class="section-semi-bespoke-1 background-{{ section.settings.background_color }}">
  <div class="stof-container">
    <div class="stof-content">
      <div class="stof-headline">
        {%- unless section.settings.title == blank -%}
          <h2 class="title {{ section.settings.heading_size }} custom-headline">
            {{ section.settings.title | escape }}
          </h2>
        {%- endunless -%}
      </div>
      <div class="stof-item stof-item--full" {{ block.shopify_attributes }}>
        <div class="stof-card">
          {%- if section.settings.image != blank -%}
            {{ section.settings.image | image_url: width: 1420 | image_tag: loading: 'lazy', class: 'stof-card__image' }}
          {%- endif -%}
          <div class="stof-card__content">
            {%- if section.settings.caption_headline != blank -%}
              <h3 class="caption-headline">{{ section.settings.caption_headline | escape }}</h3>
            {%- endif -%}
            {%- if section.settings.text != blank -%}
              <div class="rte new-caledonia">{{ section.settings.text }}</div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
    <div class="stof-arrow"></div>
  </div>
</div>

{%- style -%}
  .section-semi-bespoke-1 .stof-container {
    width: 60vw;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .section-semi-bespoke-1 .stof-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .section-semi-bespoke-1 .stof-item--full {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .section-semi-bespoke-1 .stof-card {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .section-semi-bespoke-1 .stof-card__image {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 749px) {
    .section-semi-bespoke-1 .stof-container {
      width: 100%;
      padding: 0 15px;
    }

    .section-semi-bespoke-1 .stof-card {
      width: 100%;
    }
  }
{%- endstyle -%}

{% schema %}
{
  "name": "Semi-Bespoke",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "caption_headline",
      "label": "Caption Headline"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "background_color",
      "options": [
        {
          "value": "none",
          "label": "No background"
        },
        {
          "value": "color-1",
          "label": "Color 1"
        },
        {
          "value": "color-2",
          "label": "Color 2"
        },
        {
          "value": "color-3",
          "label": "Color 3"
        }
      ],
      "default": "none",
      "label": "Background color"
    }
  ],
  "presets": [
    {
      "name": "Semi-Bespoke"
    }
  ]
}
{% endschema %}